@import "tailwindcss";

@theme {
  --color-brand-orange: #D65A31;
  --color-brand-dark: #373546;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-white text-brand-dark font-sans;
}
